---
title: about
layout: homepage
--- 
<div class="small-container">
<div class="thetitle">
    <p>Joshua Woods<br>
            <br>
                I create small personal projects with Middleman/Erb/Ruby for static site Generation. Currently, I'm learning Dart/Flutter my goal is to create both Linux based desktop applications and web/mobile apps. My work explores our relationship with the earth, technology, and art.
            </p>
        </div></div>
        <div class=" blockspace"></div>
        <br>
        <div class="responsive-image mbottom">
  <img src="/images/me.png" alt="Joshua" />
</div>
