---
title: Home
layout: homepage
--- 
<div class="small-container">
<div class="thetitle">
    <p>Projects<br>
            <br>
                Below are links to my Github repo and other links to projects. THIS IS A digital_profitz take over.
            </p>
        </div>
        </div>
        <div class=" blockspace"></div>
        <div class="container">
            <div class="row">

                    <div class="column xlarge-5 large-12">
                        <br>
                            <div class="card card-no-footer card-hover">
                                <div class="card-header">
                                    Github
                                </div>
                                <div class="card-img">
                                   <a href="https://github.com/JoshuaWoodsdev"><img src="images/bruno-neurath-wilson-vJF0gwxNVHI-unsplash.jpg" alt="github" id="norpic"></a>
                                </div>
                            </div>
                        </div>

                        <div class="column xlarge-5 small-12">
                            <br>
                                <div class="card card-no-footer card-hover">
                                    <div class="card-header">
                                        UX/UI - Projects
                                    </div>
                                    <div class="card-img">
                                        
                                        <a href="ux.html"><img src="images/notebook-beside-the-iphone-on-table-196644.jpg" alt="github" id="norpic"></a>
                                    </div>
                                </div>
                            </div>
<br>
                </div>
<div class=" blockspace"></div>
      <div class="container" id="email">
  <h1>// nordev@protonmail.com</h1>
</div          
