---
title:  figma
layout: homepage
---
<div class="thetitle">
    <p>UX/UI<br>
            <br>
                Designs + information on projects
            </p>
        </div>
        <br>

            <div class=" blockspace"></div>

            <div class="container">
                <div class="row">

                    <div class="column xlarge-7 small-12">
                        <iframe
                            style="border: 1px solid rgba(0, 0, 0, 0.1);"
                            width="700"
                            height="450"
                            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FLpT2DRVsuSjQIhiAbzdPLp%2Fnordevstudio%3Fnode-id%3D0%253A1&chrome=DOCUMENTATION"
                            allowfullscreen="allowfullscreen"></iframe>
                    </div>
                    <div class="column xlarge-4 small-12">
                      <h1>Nor</h1>
                            <br>
                                This is a early version of the current website, I used this as a template to
                                create this site.
                            </div>
                        </div>
                    </div>
                    <div class=" blockspace"></div>

                    <div class="container">
                        <div class="row">

                            <div class="column xlarge-7 small-12">
                                <iframe
                                    style="border: 1px solid rgba(0, 0, 0, 0.1);"
                                    width="700"
                                    height="450"
                                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fsh2uyABqrS11h9k2XAsVBh%2Flouisiana-farm-2-table%3Fnode-id%3D0%253A1&chrome=DOCUMENTATION"
                                    allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <div class="column xlarge-4 small-12">
                                <h1>Louisiana Farm 2 Table</h1><br>
                                        The project is planned as a Flutter app that allows residents of
                                        Louisiana to purchase direct from farmers.
                                    </div>
                                </div>
                            </div>
                            <div class=" blockspace"></div>

                            <div class="container">
                                <div class="row">

                                    <div class="column xlarge-7 small-12">
                                        <iframe
                                            style="border: 1px solid rgba(0, 0, 0, 0.1);"
                                            width="700"
                                            height="450"
                                            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FgRJdJUGrqGdGAHKJa6O3oF%2FTheolfactive%3Fnode-id%3D0%253A1&chrome=DOCUMENTATION"
                                            allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                    <div class="column xlarge-4 small-12">
                                        <h1>The Olfactive</h1><br>
                                        The site explores the beauty and fragrance indrusty.
                                        </div>
                                    </div>
                                </div>
                                <div class=" blockspace"></div>