<nav>
<ul>
        <li><a href="#">Home
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a></li>
        <li><a href="#">About
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a></li>
       <li><a href="#">UX/UI
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a></li>
     <li><a href="#">Github
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a></li>
        
    </ul>
</nav>


